body {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
}

header {
    background-color: #000000;
    padding: 20px;
    text-align: center;
}

.logo {
    font-size: 18px;
    margin-bottom: 10px;
}

.main-title {
    font-size: 36px;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.icon-x, .icon-telegram, .icon-pump {
    width: 30px;
    height: 30px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 200px);
}

.central-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px; /* Ajusta esto según tus necesidades */
    background-color: #1a1a1a; /* Un color de fondo oscuro para cuando no hay imagen */
    width: 100%;
    max-width: 800px; /* Ajusta esto según el tamaño máximo que desees para tu imagen */
}

#centralImage {
    max-width: 100%;
    height: auto;
    display: block; /* Esto asegura que la imagen se comporte como un bloque */
}

#centralVideo {
    max-width: 100%;
    height: auto;
    display: none; /* El video está oculto por defecto */
}

@media (max-width: 768px) {
    .main-title {
        font-size: 24px;
    }

    .social-icons {
        gap: 10px;
    }

    .icon-x, .icon-telegram, .icon-pump {
        width: 25px;
        height: 25px;
    }
}

